<!DOCTYPE html>
<html>
    <head>
         <%- include('index') %>
         <link rel="stylesheet" type="text/css" href="/stylesheets/preguntas.css" media="screen">
         <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Encode+Sans:wght@200&family=IBM+Plex+Mono:wght@200&family=Overpass:wght@200&display=swap" rel="stylesheet">
    </head>
    <body class="p-3 mb-2 bg-dark text-light">
        <div>
            <div>
                <% if(error) { %>
                    <div class="errorMessage">
                        <%=error%>
                    </div>
                <% } %>
            </div>
            <div class="float-container" id=title>
                <p id=title><%=titulo%></p>
            </div>
            <div class="float-container">
                <div class="float-child">
                    <% if(quests.length===0) { %>
                        <p id="pregs">0 Preguntas</p>
                    <% } else { %>
                        <p id="pregs"><%=quests.length %> Preguntas</p> 
                    <% } %>
                </div>
                <div class="float-child" style="float:right;">
                    <a class="btn btn-success" href="/index/formQuest" style="float:right;">Formular una pregunta</a>
                </div>
            </div>

            <div>
                <div>
                    <ul>
                    <% quests.forEach(e => { %>
                        <li>
                            <div class="li-container">
                                <div class="li-child">
                                    <p class="li-tit"><a class="tgs" href="/index/viewInfo/<%=e.id%>" id="<%e.titulo%>"><%= e.titulo %></a> </p>
                                    <p  class="li-body"><%= e.cuerpo %></p>
                                    <div class="tag-container">
                                        <% e.tags.forEach(el => { %>
                                            <% if(el!==null){ %>
                                            <div class="tag-child">
                                                <p class="tag-tit">
                                                    <a class="tgs tB" href="/index/searchByTag/<%= el%>" id="<%= el%>"><%= el %></a> 
                                                </p>
                                            </div>
                                            <% } %>
                                        <% }) %>
                                    </div>
                                </div>
                                <div class="li-child u">
                                    <p class="li-tit c">Formulada el <%= e.fecha %></p>
                                    <p class="li-tit c"><img src=<%="/uploads/" + e.imagen%> class="imgR" height= "100" width= "100"></p>
                                    <p class="li-tit c"><a class="tgs l" href="/index/viewUserInfo/<%=e.idusuario%>" id="<%=e.idusuario%>"><%=e.nickname %></a> </p>
                                </div>
                            </div>
                        </li>
                    <% }) %>
                    
                  </ul>
                </div>
                
            </div>

        </div>
    </body>
</html>


