<!DOCTYPE html>
<html>

<head>
    <%- include('index') %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/preguntas.css" media="screen">
</head>

<body class="p-3 mb-2 bg-dark text-light">
    <div>
        <% if(preg === null) {%>
        <div>
            <p id=title>LA PREGUNTA NO EXISTE</p>
        </div>
        <% } else {%>
        <div class="float-container p" id=titlep>
            <div >
                <p id=titlep><%= preg.titulo %></p>
                <p ><%= preg.cuerpo %></p>
                <div class="tag-container">
                    <% preg.tags.forEach(el => { %>
                        <% if(el!==null){ %>
                        <div class="tag-child">
                            <p class="tag-tit">
                                <a class="tgs" href="/index/searchByTag/<%= el%>" id="<%= el%>"><%= el %></a> 
                            </p>
                        </div>
                        <% } %>
                    <% }) %>
                </div>
            </div>
            <div>
                <p id="f">Formulada el <%= preg.fecha %></p>
                <p ><img src=<%="/uploads/" + preg.imagen%> class="imgR" height= "100" width= "100"></p>
                <p ><%= preg.nickname %></p>
            </div>
            <div>
                <% if(preg.respuesta[preg.respuesta.length -1].respuesta === null) { %>
                <% } else { %>
                <p id="pregs"><%=preg.respuesta.length %> Respuestas</p>
                <div>
                    <ul>
                    <% preg.respuesta.forEach(e => { %>
                        <li>
                            <div>
                                <div>
                                    <p  class="li-body"><%= e.respuesta %></p>
                                </div>
                                <div>
                                    <p class="li-tit c">Formulada el <%= e.fecha %></p>
                                    <p class="li-tit c"><img src=<%="/uploads/" + e.imagen%> class="imgR" height= "100" width= "100"></p>
                                    <p class="li-tit c"><%= e.nickname %></p>
                                </div>
                            </div>
                        </li>
                    <% }) %>
                    
                </ul>
                </div>
            </div>
            <% }%>
            <form action="/index/answer/<%= preg.id%>" method="POST">
                <label for="cuerpo">Tu Respuesta</label>
                <textarea maxlength="2000" class="form-control" style="height: 300px;" name="respues"></textarea>
                <div class="float-child">
                    <button type="submit" class="btn btn-success">Publica Tu Respuesta</button>
                </div>
            </form>
        </div>
        <% } %>
    </div>
</body>

</html>