<!DOCTYPE html>
<html>

<head>
    <%- include('index') %>
    <link rel='stylesheet' href='/stylesheets/preguntas.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Encode+Sans:wght@200&family=IBM+Plex+Mono:wght@200&family=Overpass:wght@200&display=swap" rel="stylesheet">
</head>

<body class="p-3 mb-2 bg-dark text-light">
    <div id="sep">
        <ul>
            <div class="li-container">
                <div>
                    <form action="/index/search" method="POST">
                        <div class="bb">
                            <div>
                                <button type="submit" class="btn btn-success" id="butSearch2"> Buscar </button>
                            </div>
                            <div id="txt">
                                <input type="text" class="form-control b" id="f2" name="texto">
                            </div>
                        </div>
                    </form>
                </div>
                <% users.forEach(e => { %>
                    <div class="li-child peq">
                        <p class="li-tit c"><img src=<%="/uploads/" + e.imagen%> class="imgR" height= "100" width= "100"></p>
                        <p class="li-tit c"><a class="tgs l" href="/index/viewUserInfo/<%=e.id%>" id="<%e.id%>"><%= e.name %></a> </p>
                        <% if(e.tag.length){%>
                        <div class="tag-child">
                            <p class="tag-tit">
                                <a class="tgs tB"><%= e.tag %></a> 
                            </p>
                        </div>
                        <% } %>
                    </div>
                <% }) %>
            </div>
      </ul>
    </div>
</body>

</html>